/* styles.css */
.container {
    margin: auto;
    max-width: 500px;
    margin-top: 50px;
}

.form-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.table-container {
    max-width: 900px;
    margin-top: 50px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.align-center {
    text-align: center;
}

div button {
	margin: 0;
}
